.columnas{
    border: 1px solid blue
}

.contenedor{
    background-color: skyblue;
}

#carrusel .carousel-inner img{
    
     max-height: 70vh; /* 70% del alto de la pantalla */
     object-fit: cover; /*Para no distorsinar las imagenes*/
     filter: grayscale(70%);
}